body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E0DACB;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D9A441;
    color: #355E3B;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header{
    position: relative;
    z-index: 100;
}

.hero img {
    position: relative;
    z-index: 10;
}
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 150px;
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #355E3B;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}
.menu a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #D9A441;
    border: 1px solid #355E3B;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
}
.menu a:hover {
    background-color: #E0DACB;
    color: #355E3B;
}

footer  {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D9A441;
    color: #355E3B;
    padding: 15px 0;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px;
}
footer{
    position: relative;
    z-index: 100;
}
div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
div.content-text {
    font-size: 20px;
    color: #355E3B;
    font-style: italic;
    font-weight: 100;
    font-size: 100%;
}
div.buttons {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 15px;
    margin-top: 15px; 
}
div.img-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}
.img-container img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}
/* <=========prouct=========> */
.products {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.product {
    background-color: white;
    width: 250px;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}
.product img {
    width: 100%;
    height: auto;
     border-radius: 8px;
}

.product h2 {
    margin-top: 15px;
}

.product p {
    margin: 10px 0;
    color: #666;
}

.product h3 {
    margin: 15px 0;
}

.product button {
    background-color: #355E3B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product button:hover {
    background-color: #D9A441;
}
